/* index.css */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  background: url('./assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-nav .logo {
  flex: 1 70%;
  text-align: left;
}

.flex-nav li {
  flex: 1 10%;
}

.logo {
  padding: .5rem 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1.5rem .5rem;
  font-size: .7rem;
}

.flex-nav {
  flex: 1 100%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.flex-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-text {
  color: #fff;
  padding: 15vh 30vw;
  text-align: center;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.button {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 10rem;
  padding: .5rem 2rem;
  font-size: .75rem;
  text-transform: uppercase;
  opacity: 0.6;
}

a:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.3);
  color: #fff;
}

a {
  color: #fff;
}

.category {
  position: relative;
  color: #fff;
}

.category-image {
  width: 100%;
  border-radius: .5rem;
}

.category-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: black;
  opacity: 0.7;
  border-radius: 1rem;
  padding: .3rem 1rem;
  font-size: .95rem;
  letter-spacing: 0px;
}

.category-text {
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
}

.letter-spacing-2px {
  letter-spacing: 2px;
}

.facebook {
  background: #4267b2;
}

.youtube {
  background: #cc181e;
}

.media-box {
  color: #fff;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: .8rem;
  text-align: center;
}

.box {
  margin: 1rem 0;
}

.content {
  margin: 3rem 1rem; 
}

@media all and (max-width: 1199px) {
  .flex-nav .logo {
    flex: 1 100%;
    background-color: #000;
    text-align: center;
    padding: .5rem;
  }

  .flex-nav li {
    flex: 1 33%;
  }

  .banner-text {
    padding: 20vh 8vw;
    text-align: left;
  }
}

@media all and (min-width: 1200px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .category {
    flex: 1 50%;
  }

  .flexbox {
    flex: 1 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .flexbox .category {
    flex: 1 100% !important;
  }

  .media-box {
    flex: 1 50%;
    padding: 100px;
  }
}
